<!-- Sản phẩm nổi bật -->
<section class="products container mt-5">
    <h1 class="main_title">SẢN PHẨM ĐANG HOT <i class="fa fa-fire" style="color: red;"></i></h1>
    <div class="owl-carousel owl-theme mt-3">
        <div class="item">
            <div class="item__content">
                <img src="~/app/img/1061.jpg" alt="">
                <div class="item__content__hover">
                    
                </div>
            </div>
            <div class="item__details">
                <a href="/">Macbook</a>
                <span>$100</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/1063.jpg" alt="">
                <div class="item__content__hover">
                  
                </div>
            </div>
            <div class="item__details">
                <a href="/">Asus</a>
                <span>$199</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/1077.gif" alt="">
                <div class="item__content__hover">
                
                </div>
            </div>
            <div class="item__details">
                <a href="~/app/img/macbook3.jpg">MacBook m1</a>
                <span>$89</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/macbook4.jpg" alt="">
                <div class="item__content__hover">
                    
                </div>
            </div>
            <div class="item__details">
                <a href="/">Macbook m1 pro </a>
                <span>$149</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/macbook1.jpg" alt="">
                <div class="item__content__hover">
                   
                </div>
            </div>
            <div class="item__details">
                <a href="/">Auss TUF</a>
                <span>$89</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/asu3.jpg" alt="">
                <div class="item__content__hover">
                   
                </div>
            </div>
            <div class="item__details">
                <a href="/">ROG</a>
                <span>$100</span>
            </div>
        </div><div class="item">
            <div class="item__content">
                <img src="~/app/img/asus1.jpg" alt="">
                <div class="item__content__hover">
                  
                </div>
            </div>
            
     
</section>
